.card-spec{
    background-color: rgb(236, 235, 235);
    border-radius: 10px;
    padding: 2%;
}
.card-spec:hover{
    background-color:  rgb(255, 255, 255);
    border-radius: 10px;
    padding: 2%;
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.265);
color: orange;
}
.icon-size{
    font-size: 20px;
    border-radius: 100%;
    width: 20%;
    height: 30%;
    background-color: rgb(255, 255, 255);
    border: black 2px solid;
    text-align: center;
    padding-top: 4%;
}
.arrow-pos{
    padding-left: 70%;
    margin-top: 20%;
    
}
.bonjour{
 border-radius: 10px;
}
.hello{
color: orange;
padding-top: 75%;
padding-left: 4%;
}
.hapt{
color: white;
padding-left: 4%;  
}
.contact{
    color: red;
    font-size: 70px;
    margin-bottom: 10%;
}
input , select , textarea{
    background-color: azure !important;
    border-radius: 10px !important;
    border: black 2px solid !important 
}
#but{
    background-color: black;
    color: white;
    width: 100%;
}
#but:hover{
    background-color: white;
    color: black;
    width: 100%;

